* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#code {
  overflow: hidden;
  height: 100%;
  padding: 16px;
}
.buttons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
}
.buttons > button {
  margin: 5px 0;
  padding: .375rem .75rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}
.active{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
